footer{
    text-align: center;
    text-decoration: none;
    background-color:hsl(308, 100%, 84%) ;
    width: 100%;
    margin-top: 450px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
}